.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.Home {
  margin-top: 10px;
  text-align: center;
}

.Name {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.setDate {
  display: inline;
}

.countdown {
  text-align: center;
}

.setName {
  padding: 15px 10px;
  line-height: 28px;
  font-size: 20px;
}

.popup {
}
